body {
    font-family: "Lato", sans-serif;
    background: fixed center center no-repeat url("/static/images/spinning-room.jpg");
    background-color: #360388;
}

h1, h2, h3, h4, h5 {
    font-family: "Catamaran", sans-serif;
}
.navbar {
    background-color: #000;
    color:rgba(255, 255, 255, 0.55);
}

.nav-link:hover,
.nav-link:active {
    color: #fff;
    text-decoration: underline;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #000;
}

.main-bg {
    background-color: #0000006e;
    padding: 20px 10px 20px;
    margin-top: 0;
}

.card {
    color: #fff;
    border: 8px solid #ff54fbd4 ;
    border-radius: 14px;
    background-color: #1c134dde;
}

.masthead {
    margin-top: 20rem;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-content{
    margin-top: 10vh;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #ff54fc;
    text-decoration: underline;
}

.image-container {
    position: relative;
}

.card-img-top {
    max-width: 100%;
}

.logo-img {
    max-width: 80%;
    position: relative;
    margin-top: -30rem;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: #ff54fc;
}

.btn-bluedit {
    background-color: #23BBBB;
    color: #fff;
    font-weight: bold;
}

.btn-delete {
    color: #fff;
    background: #ff54fc;
    font-weight: bold;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: #23BBBB solid;
}

/* Media query for small screens (max-width: 767px) */
@media (max-width: 767px) {
    .main-bg {
        margin-top: -18rem; /* Adjusted margin for small screens */
    }
}