{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">
        <!-- Classes cards -->
        <div class="col-12 mt-3 left">
            <div class="row">
                <div class="col-md-3">
                </div>
                {% for activity in object_list %}
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in activity.featured_image.url %}
                                <img class="card-img-top" src="{% static 'images/default.jpg' %}"
                                    alt="placeholder image">
                                {% else %}
                                <img class="card-img-top" src=" {{ activity.featured_image.url }}"
                                    alt="{{ activity.name }}">
                                {% endif %}
                            </div>
                            <div>
                                <h2>{{activity.name}}</h2>
                                {{activity.description | safe }}
                                <p>Duration: {{ activity.duration }} minutes</p>
                                <hr class="border border-white border-3">
                                <div class="row">
                                    <h5>Comments:</h5>
                                    <p class="text-white"><i class="fa-regular fa-comments"></i> {{ comment_count }}</p>
                                    {% for comment in comments %}
                                    <div class="row p-2 comments
                                        {% if not comment.approved and comment.user == user %}
                                        faded{% elif not comment.approved %} d-none{% endif %}">
                                        <p class="fw-medium fs-5 text-decoration-underline text-capitalize">
                                            {{ comment.user }} says:
                                        </p>
                                        <div class="col" id="comment{{ comment.id }}">
                                            {{ comment.body | linebreaks }}
                                        </div>
                                        {% if not comment.approved and comment.user == user %}
                                        <p class="approval">
                                            This comment is awaiting approval
                                        </p>
                                        {% endif %}
                                        <span class="fst-italic fs-6">{{ comment.created_on }}</span>
                                        <div class="col text-end mb-5">
                                            {% if user.is_authenticated and comment.user == user %}
                                            <a class="btn btn-edit btn-primary" href="{% url 'comment_edit' activity.slug comment.pk%}">Edit</a>
                                            <button class="btn btn-delete btn-danger" data-comment_id="{{ comment.id }}" data-activity_slug="{{ activity.slug }}">Delete</button>
                                            {% endif %}
                                        </div>
                                        <hr class="border border-white ms-2">
                                    </div>
                                    <!-- for loop ends here -->
                                    {% endfor %}
                                </div>
                                <div class="row">
                                    {% if user.is_authenticated %}
                                    <!-- Comment section for registered users -->
                                    <h5>Leave a Comment</h5>
                                    <form label="comment-body" id="commentForm{{ activity.id }}" method="post" action="{% url 'activity_detail' activity.slug%}">
                                        {{ comment_form | crispy }}
                                        {% csrf_token %}
                                        <button id="submitButton" type="submit" class="btn btn-signup">Submit</button>
                                    </form>
                                    {% else %}
                                    <p>Please log in to leave a comment.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your comment?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
<!-- index.html content ends here -->
{% endblock %}
{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}