{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center text-white mt-3">
            <h1>CLASSES AVAILABLE</h1>
        </div>
        <!-- Classes cards -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for activity in object_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in activity.featured_image.url %}
                                <img class="card-img-top" src="{% static 'images/default.jpg' %}"
                                    alt="placeholder image">
                                {% else %}
                                <img class="card-img-top" src=" {{ activity.featured_image.url }}"
                                    alt="{{ activity.name }}">
                                {% endif %}
                            </div>
                            <div>
                                <h2>{{activity.name}}</h2>
                                {{activity.description | safe }}
                                <p>Duration: {{ activity.duration }} minutes</p>
                                <p class="m-0 text-end text-white font-monospace">
                                    <a class="link text-end" href="{% url 'activity_detail' activity.slug%}" title="Comments">View Comments <i class="fa-regular fa-comment fs-3"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> &laquo; PREV</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}